body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

h2 {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  margin-left: 5px;
}